<div class="edit-tags">

  <!-- Display of tags -->
  <div class="tag-buttons">
    <button type="button" class="btn tag"
      [ngClass]="tag < 0 ? 'btn-sky-blue' : 'btn-red'"
      *ngFor="let tag of tags; let index = index;">
      {{ tag }}
      <i class="ml-2 fas fa-times" (click)="delete(index)"></i>
    </button>

    <ng-container *ngIf="tags.length === 0">No tags to display.</ng-container>
  </div>
  <!-- END - Display of tags -->

  <!-- Button to open modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editTagsModal">
    Edit Tags
  </button>
  <!-- END - Button to open modal -->

  <!-- Modal for editing tags-->
  <div class="modal fade" id="editTagsModal" tabindex="-1" role="dialog" aria-labelledby="editTagsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Tags</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="5" [(ngModel)]="tagsText"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="editTags()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END - Modal for editing tags -->

</div>
