<div class="form-group">
  <label>Type tags (numbers only) here using comma, semicolon and line break as delimiters</label>
  <textarea class="form-control" rows="5" [(ngModel)]="tagsText"></textarea>
</div>
<button class="btn btn-primary" (click)="submit()">Add tags</button>
